.chat-history {
    background-color: gray;
    border-right: 1px solid #dee2e6;
    border: 1px solid lightgray;
}

.chat-container {
    background-color: white;
    padding: 15px;
    border-radius: 4px;
    min-height: 600px;
    height: 600px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 95%;
    border: 1px solid lightgray;
}

#chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 15px;
    list-style: none;
    padding: 0;
}

#chat-messages li {
    display: flex;
    width: 100%;
    padding: 0 15px;
}

#chat-messages li .bg-primary,
#chat-messages li .bg-secondary {
    flex: 1;
    max-width: 90%;
}

.chat-input {
    margin-top: auto;
    position: sticky;
    bottom: 0;
}

.input-container {
    background-color: whitesmoke;
    border: 1px solid lightgray;
}

.delete-conversation {
    display: none;
    opacity: 0;
}

.conversation:hover .delete-conversation {
    display: block;
    opacity: 1;
}