#imagen_chat {
    padding-right: 10px;
    margin-top: 0px;
}

#lista_imagen {
    list-style: none;
    padding: 0px;
}

#lista_imagen li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.texto_num {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(7, 52, 101);
}

.texto_sec {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(7, 52, 101);
}

.circulo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    flex-shrink: 0;
}

#pricing {
    clip-path: ellipse(2200px 800px at 50% 800px);
    padding-top: 50px;
}