@font-face {
    font-family: 'AllertaCustom';
    src: url('/frontend/fonts/allerta_stencil.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.svaia-text {
    font-family: 'AllertaCustom', sans-serif;
    line-height: 1;
}

.background-gradient {
    background: #bdc3c7;
    background: -webkit-linear-gradient(to bottom right, #fcfdfc, #798696);
    background: linear-gradient(to bottom right, #fcfdfc, #798696);
}

.background-ellipse {
    clip-path: ellipse(2500px 100% at 50% 0%);
    padding-bottom: 40px;

}