<div class="modal fade" id="projectModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="projectModalLabel">Proyecto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="projectForm">
                    <input type="hidden" id="projectUuid" value="">
                    <div class="mb-3">
                        <label for="projectName" class="form-label">Nombre del Proyecto</label>
                        <input type="text" class="form-control" id="projectName" required>
                    </div>
                    <div class="mb-3">
                        <label for="projectDescription" class="form-label">Descripción</label>
                        <textarea class="form-control" id="projectDescription" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="projectStartDate" class="form-label">Grado de vulnerabilidad máximo permitido</label>
                        <div class="dropdown-contenedor">
                            <div class="dropdown">
                            <button class="dropdown-button">Elegir</button>
                                <div class="dropdown-content">
                                    <a href="#">Grado de vulnerabilidad crítico (8-10)</a>
                                    <a href="#">Grado de vulnerabilidad severa (6-7)</a>
                                    <a href="#">Grado de vulnerabilidad leve o medio (1-5)</a>
                                </div>
                            <div class="dropdown-item-editable">
                                <input type="text" class="editable-input" placeholder="Otro (especificar)" onclick="event.stopPropagation(); this.focus();">
                            </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="saveProjectBtn">Guardar</button>
            </div>
        </div>
    </div>
</div> 