{% extends "layout.html" %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SVAIA - Chat</title>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/chat.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

{% endblock %}

{% block content %}

    <div class="background-gradient">
        <!--Breadcrumb-->
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/frontend/home/index.html">Inicio<a></li>
                <li class="breadcrumb-item active"></li>
                <li class="breadcrumb-item active">Chat</li>
            </ol>
        </div>

        <!-- Notification -->
        <div class="container">
            <div class="row p-2">
                <div class="alert alert-dismissible alert-warning col">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <h4 class="alert-heading">Atencion!</h4>
                    <p class="mb-0">Mensaje de alerta para indicar que se ha podido producir un error (<a href="#" class="alert-link">ver detalles</a>).</p>
                </div>
            </div>
        </div>


        <!-- Chat -->
        <div class="container">
            <div class="row flex-column flex-md-row">
                <!-- History -->
                <div class="col-12 col-md-4 order-1 mb-3">
                    <div class="p-2 bg-white rounded-2">
                        <div class="new-chat d-flex justify-content-end">
                            <button class="btn rounded-2 bg-success border-0 m-1"><i class="bi bi-plus-lg text-white fs-4 fw-bold"></i></button>
                        </div>
                        <div class="list-group d-none d-md-block">
                            <a href="#" class="conversation list-group-item list-group-item-action active d-flex justify-content-between align-items-center">
                                <span>Proyecto 1</span>
                                <button class="delete-conversation btn rounded-2 bg-danger text-white border-0 m-1">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </a>
                            <a href="#" class="conversation list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                <span>Proyecto 2</span>
                                <button class="delete-conversation btn rounded-2 bg-danger text-white border-0 m-1">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </a>
                            <a href="#" class="conversation list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                <span>Proyecto 3</span>
                                <button class="delete-conversation btn rounded-2 bg-danger text-white border-0 m-1">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </a>
                        </div>
                        
                        <!-- History for mobile -->
                        <select class="form-select d-block d-md-none">
                            <option>Proyecto 1</option>
                            <option>Proyecto 2</option>
                            <option>Proyecto 3</option>
                        </select>
                    </div>
                </div>

                <!-- Message -->
                <div class="col-12 col-md-8 order-2 chat-container mb-5 px-0 pb-0 mx-auto">
                    <div id="chat-messages">
                        <!-- Messages go here -->
                        <template id="user-message-template">
                            <li class="d-flex align-items-start justify-content-end mb-3 ps-0">
                                <div class="bg-primary text-white p-4 rounded-2 container-fluid message-content"></div>
                                <i class="bi bi-person-fill ms-4"></i>
                            </li>
                        </template>
                    
                        <template id="ai-message-template">
                            <li class="d-flex align-items-start mb-3 container-fluid pe-0">
                                <i class="bi bi-robot me-4"></i>
                                <div class="bg-secondary text-white p-4 rounded-1 container-fluid message-content"></div>
                            </li>
                        </template>
                    </div>
                    <div class="row container-fluid p-2 m-0 input-container">
                        <div class="chat-input">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Escribe tu mensaje..." id="message-input">
                                <button class="btn btn-primary" type="button" id="send-message">
                                    Enviar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

</html>