<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SVAIA</title>
    <link href="/frontend/static/bootstrap.min.css" rel="stylesheet">
    <link href="/frontend/static/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    {% block head %}{% endblock %}
  </head>
  <body>
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg bg-primary p-0" data-bs-theme="dark">
        <div class="container-fluid">
            <div class="d-flex justify-content-start align-items-center">
                <div class="logo">
                    <img src="/frontend/static/images/tidelock_logo.png" alt="SVAIA Logo" height="80">
                </div>
                <a class="navbar-brand text-black fs-3 fw-bold svaia-text" href="#">SVAIA</a>
            </div>
            <button class="collapsed navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none active" href="/frontend/templates/index.html">Inicio
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Caracteristicas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Precios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CVE</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item d-none d-lg-block">
                        <a class="nav-link" href="#"><i class="bi bi-envelope-fill"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="d-none d-lg-inline bi bi-person-fill me-2"></i>Mi cuenta</a>
                    </li>
                </ul>
                <form class="d-flex mb-3 mb-lg-0 gap-2">
                    <input class="form-control" type="search" placeholder="Describe tu proyecto...">
                    <a href="/frontend/templates/chat.html" class="btn btn-secondary my-2 my-sm-0">Comenzar</a>
                </form>
            </div>
        </div>
    </nav>

    <!-- Main content -->
    <div id="content">{% block content %}{% endblock %}</div>

    <!-- Footer -->
    <footer>
        <div class="container-fluid bg-primary">
            <div class="row justify-content-center px-5 pt-5">
                <div class="col-3 card bg-primary text-white mb-3 px-0" style="max-width: 20rem; border: 0;">
                    <div class="card-header"><h4>Redes Sociales</h4></div>
                    <div class="card-body">
                        <div class="row row-cols-2 row-cols-sm-4 g-0 ">
                            <div class="col d-flex d-block justify-content-center g-2 p-0 m-0"style="flex: 0 0 auto; width: auto;">
                                <a href="#" class="fs-3"><i class="fab fa-twitter"></i></a>
                            </div>
                            <div class="col d-flex d-block justify-content-center g-2 p-0 m-0"style="flex: 0 0 auto; width: auto;">
                                <a href="#" class="fs-3"><i class="fab fa-facebook"></i></a>
                            </div>
                            <div class="col d-flex d-block justify-content-center g-2 p-0 m-0"style="flex: 0 0 auto; width: auto;">
                                <a href="#" class="fs-3"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <div class="col d-flex d-block justify-content-center g-2 p-0 m-0"style="flex: 0 0 auto; width: auto;">
                                <a href="#" class="fs-3"><i class="fab fa-discord"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-3 card bg-primary text-white mb-3" style="max-width: 20rem; border: 0;">
                        <div class="card-header"><h4>SVAIA</h4></div>
                        <div class="card-body">
                            <p class="nav-link text-success">ETSI Informática</p> 
                            <p></p>   
                            <p class="text-success mb-0">Universidad de Málaga</p>
                            <p class="text-success mb-0">Bulevar Louis Pasteur, 35</p>
                            <p class="text-success mb-0">29071 Málaga</p>
                            <p class="text-success mb-0">España</p>
                            <hr style="color: black">
                        </div>
                        
                        <!-- Map moved to separate row -->
                </div>

                <div class="col-3 card bg-primary text-white mb-3" style="max-width: 20rem; border: 0;">
                        <div class="card-header"><h4>Producto</h4></div>
                        <div class="card-body">
                            <a class="text-decoration-none text-success" href="/frontend/templates/chat.html"> <p class="mb-0">Chat</p> </a>
                            <a class="text-decoration-none text-success" href="#"> <p class="mb-0">SVAIA API</p></a>
                            <a class="text-decoration-none text-success" href="#"> <p class="mb-0">Vulnerabilidades </p> </a>
                            <a class="text-decoration-none text-success" href="#"> <p class="mb-0">Precios </p></a>
                            <a class="text-decoration-none text-success" href="#"> <p class="mb-0">Estado del servicio </p></a>
                        </div>
                </div>

                <div class="col-3 card bg-primary text-white mb-3" style="max-width: 20rem; border:0;">
                    <div class="card-header"><h4>Legal</h4></div>
                    <div class="card-body">
                        <p class="text-success mb-0" href="#">Política de privacidad</p>
                        <p class="text-success mb-0" href="#">Términos de uso</p>
                        <p class="text-success mb-0" href="#">Trabaja con nosotros</p>
                        <hr style="color:black">
                        <p class="text-success"> Contacto</p>
                    </div>
                    
                    
                </div>   
            </div>
            <!-- Map row -->
            <div class="row pb-5">
                <div class="card bg-primary text-white" style="width: 20rem; margin-left: calc(25% + 48px); border: 0;">
                    <div class="map-container" style="overflow: hidden; height: 300px;">
                        <iframe
                            width="100%"
                            height="300"
                            frameborder="0"
                            style="border: 0"
                            allowfullscreen=""
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAWmCyDuIUVP0M0dFLk51m-2RXQOyijrqE&q=ETSIInformatica+Málaga&maptype=satellite">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="d-flex row-12 justify-content-center">
                <p class=""> © 2025 SVAIA. Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    {% block script %}{% endblock %}
  </body>
</html>